<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=stylesheet href=stylesheets/style.css>
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" 
      type="image/png" 
      href="/images/favicon.ico">
    <title id=title>Social Clubs</title>
</head>
<body id=body>
    <nav class=navbar>
        <div id=brand-title class="brand-title">Social Clubs</div>
        <div class="navbar-links">
            <ul>
              <li><a id=user-tag>UserName</a></li>
              <li><a>Logout</a></li>
            </ul>
        </div>
    </nav>
    <div class=sidebar>
      <ul class=nav-list>
        <li id=btn-burger><a href=#>
          <i class='bx bx-menu'></i></a></li>
        <li id=btn-index><a href=index>
          <i href=index class='bx bx-home' ></i>
          <span>Home</span></a></li>
        <li id=btn-members><a href=members>
          <i class='bx bx-face'></i>
          <span>Members</span></a></li>
        <li id=btn-payments><a href=transactions>
          <i class='bx bx-transfer'></i>
          <span>Transactions</span></a></li>
          <li id=btn-subscriptions ><a href=subscriptions>
            <i class='bx bxs-id-card'></i> 
            <span>Subscriptions</span></a></li>
        <li><a href=settings>
          <i  class='bx bx-cog'></i>
          <span>Settings</span></a></li>
      </ul>
    </div>
    <div id=grid class=grid>
    </div>





</body>
</html>

<script src="jquery/dist/jquery.js"></script>

<script src=javascripts\homepage\index.js></script>
<script src=javascripts\functional\tables.js></script>
<script src=javascripts\functional\grid.js></script>
<script src="javascripts\requests.js"></script>
<script src=javascripts\createElements.js></script>


<script src=javascripts\functional\inputpage.js></script>
<script src="https://unpkg.com/boxicons@2.0.9/dist/boxicons.js"></script>