<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=stylesheet href=/stylesheets/style.css>
    <title>Social Clubs</title>
</head>
<body>
    <nav class=navbar>
        <div class="brand-title">Social Clubs</div>
        <div class="navbar-links">
            <ul>
                <li><a>Fraser Mackintosh</a></li>
                <li><a>Logout</a></li>
            </ul>
        </div>
    </nav>
    <div class=grid>
        <div class=grid-sidebar>Sidebar</div>
        <div class=grid-content>Content</div>
    </div>
</body>
</html>

<script src=></script>