<html>
    <title>Social Clubs | Login</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
    </head>
        <form autocomplete="off" class=form action='/login' method=POST>
            <div class="split">     
                <div class=title_block>
                    <input placeholder=Email autocomplete="off" type=text id=email name=email class="input_split" required>
                </div>
                <div class=title_block>
                    <input placeholder=Password  autocomplete="off" type=password id=password name=password class="input_split" required>
                </div>
                <div class=title_block>
                    <button class=login_button type="submit">Login</button>
                </div>
                <div class=title_block>
                    <button class=register_button href=register>Register</button>
                </div>
            </div>
        </form>
</html>