<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=stylesheet href=/stylesheets/style.css>
    <!-- <link rel=stylesheet href=//cdn.datatables.net/1.11.0/css/jquery.dataTables.min.css> -->
    <link rel="icon" 
      type="image/png" 
      href="/images/favicon.ico">
      <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> -->
    <title id=title>Social Clubs | Settings</title>
</head>
<body id=body>
    <nav class=navbar>
        <div id=brand-title class="brand-title">Settings</div>
        <div class="navbar-links">
            <ul>
              <li><a href=index >Home</a></li>
              <span href=settings class=cog>&#9881;</span>
              <li><a>Fraser Mackintosh</a></li>
              <li><a>Logout</a></li>
            </ul>
        </div>
    </nav>
    
</body>
</html>


<script src="jquery/dist/jquery.js"></script>
<script src=javascripts\functional\tables.js></script>
<script src=javascripts\functional\grid.js></script>
<script src="javascripts\requests.js"></script>
<script src=javascripts\createElements.js></script>